files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_install_dependencies.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "Installing npm dependencies..."
      cd /var/app/current
      npm install
      echo "Finished installing npm dependencies."
